Repository prajitdas/prajitdas.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: website, documentation, testing, configuration, dependencies

.github/labeler.yml:

# Labeler configuration for GitHub Actions
# Automatically label PRs based on files changed

"website":
  - "*.html"
  - "*.css" 
  - "*.js"
  - "assets/**/*"

"documentation":
  - "*.md"
  - "README*"

"testing":
  - "tests/**/*"
  - "*.py"

"configuration":
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - ".github/**/*"

"dependencies":
  - "*requirements*.txt"
  - "pyproject.toml"

fixes
  .github/tests/critical_request_chain_test.py
  index.html
Labels: website, configuration

fixes
  .github/tests/OPTIMIZATION_SUMMARY.md
  .github/tests/critical_request_chain_test.py
Labels: configuration

fixes
  index.html
Labels: website

fixes
  .github/tests/critical_request_chain_test.py
  sw.js
Labels: website, configuration

fixes
  index.html
Labels: website

fixes
  .github/tests/website_functionality_test.py
Labels: configuration

fixes
  .github/tests/website_functionality_test.py
Labels: configuration

fixes
  .github/tests/website_functionality_test.py
Labels: configuration

fixes
  .github/tests/website_functionality_test.py
Labels: configuration

fixes
  .github/tests/critical_request_chain_optimization_test.py
  index.html
Labels: website, configuration

fixes
  .github/tests/critical_request_chain_optimization_test.py
Labels: configuration

fixes
  index.html
Labels: website

fixes
  .github/tests/.gitignore
  .github/tests/critical_request_chain_test.py
  .github/tests/run_all_tests.py
Labels: configuration

fixes
  .htaccess
  SECURITY-HEADERS-IMPLEMENTATION.md
  _headers
  index.html
Labels: website, documentation

Checkpoint from VS Code for coding agent session
  _headers
Labels: none

fixes
  _headers
Labels: none

fixes
  _headers
Labels: none

fixes
  SECURITY-HEADERS-IMPLEMENTATION.md
  index.html
  sitemap.html
Labels: website, documentation
