Repository prajitdas/prajitdas.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: website, documentation, testing, configuration, dependencies

.github/labeler.yml:

# Labeler configuration for GitHub Actions
# Automatically label PRs based on files changed

"website":
  - "*.html"
  - "*.css" 
  - "*.js"
  - "assets/**/*"

"documentation":
  - "*.md"
  - "README*"

"testing":
  - "tests/**/*"
  - "*.py"

"configuration":
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - ".github/**/*"

"dependencies":
  - "*requirements*.txt"
  - "pyproject.toml"

Add SARIF validation test suite
  .github/tests/sarif_validation_test.py
Labels: configuration

fixes
  README.md
Labels: documentation

Enhance security: Protect ALL YAML files and .trivyignore from web access
  .github/tests/web_security_test.py
  .htaccess
  _config.yml
  robots.txt
Labels: configuration

SECURITY: Fix package.json web accessibility by renaming files
  .github/tests/web_security_test.py
  .htaccess
  _config.yml
  assets/js/.htaccess
  assets/js/dev-Gruntfile.js
  assets/js/dev-package.json
  assets/plugins/github-activity/.htaccess
  assets/plugins/github-activity/dev-package.json
  robots.txt
Labels: website, configuration

CLEANUP: Remove redundancies in .htaccess file
  .htaccess
Labels: none

fixes
  .htaccess
Labels: none

fixes
  README.md
  assets/js/.htaccess
  assets/plugins/github-activity/.htaccess
Labels: website, documentation

fixes
  .github/workflows/codacy.yml
Labels: configuration

fixes
  .github/tests/comprehensive_security_scan.py
Labels: configuration

fixes
  .github/tests/comprehensive_security_scan.py
Labels: configuration

modified: .github/tests/comprehensive_security_scan.py
  .github/tests/comprehensive_security_scan.py
  .github/tests/high_risk_security_test.py
  assets/MANIFEST
Labels: website, configuration

COMPREHENSIVE SECURITY: Protect all development files from web access
  .htaccess
  _config.yml
  assets/.htaccess
  assets/docs/publications/.htaccess
  assets/img/.htaccess
  robots.txt
Labels: website, configuration

SECURITY FIX: Move all sensitive development files to protected .github directory
  .github/config/generate-publications.sh
  .github/dev-docs/Developer-ReadMe.txt
  .github/dev-docs/HELP-US-OUT.txt
  .github/dev-docs/faviconit-instructions.txt
  .github/dev-docs/github-activity-package.json
  .github/dev-docs/js-Gruntfile.js
  .github/dev-docs/js-package.json
  .github/tests/web_security_test.py
Labels: configuration

modified: .htaccess
  .htaccess
  robots.txt
Labels: none

modified: README.md
  README.md
Labels: documentation

SECURITY: Move remaining high-risk files to protected .github directory
  .github/SECURITY.md
  .github/dev-docs/MANIFEST
  .github/dev-docs/github-activity-Gruntfile.js
  .github/dev-docs/github-activity-LICENSE.md
  .github/dev-docs/github-activity-README.md
  .github/dev-docs/github-activity-bower.json
  .github/dev-docs/js-LICENSE
  .github/dev-docs/js-README.md
  .github/dev-docs/publications-README.md
Labels: configuration

SECURITY: Move LICENSE file to protected .github directory
  .github/dev-docs/LICENSE
Labels: configuration

Security: Fix robots.txt information disclosure and remove redundancies
  .github/tests/IMPLEMENTATION_REPORT.md
  .github/tests/README.md
  .github/tests/comprehensive_security_scan.py
  .github/tests/robots_analysis.md
  .github/tests/robots_security_analysis.py
  .github/tests/run_all_tests.py
  .github/tests/web_security_test.py
  .github/tests/website_functionality_test.py
  .htaccess
  robots.txt
Labels: configuration

fixes
  .github/tests/ROBOTS_SECURITY_FIX.md
  .github/tests/robots_analysis.md
Labels: configuration

fixes
  .github/tests/IMPLEMENTATION_REPORT.md
  .github/tests/ROBOTS_SECURITY_FIX.md
Labels: configuration

Consolidate test suite: merge security tests into comprehensive analysis
  .github/tests/README.md
  .github/tests/comprehensive_security_scan.py
  .github/tests/high_risk_security_test.py
  .github/tests/run_tests.py
  .github/tests/security_scan.py
Labels: configuration

🔒 SECURITY FIX: Minimize _config.yml exposure and clean robots.txt
  .github/config/_config_full.yml
  _config.yml
  robots.txt
Labels: configuration

🔧 Fix GitHub Actions workflow: Update test file references
  .github/workflows/validate-website.yml
Labels: configuration

fixes
  assets/.htaccess
  assets/docs/publications/.htaccess
  assets/img/.htaccess
  assets/js/.htaccess
  assets/plugins/github-activity/.htaccess
Labels: website

fixes
  .github/tests/comprehensive_security_scan.py
Labels: configuration

fixes
  .github/tests/vulnerability_assessment.py
  .github/tests/website_functionality_test.py
Labels: configuration

fixes
  .github/tests/website_functionality_test.py
Labels: configuration

fixes
  .github/tests/seo_analysis.py
Labels: configuration

fixes
  .github/tests/local_seo_test.py
  .github/tests/run_all_tests.py
  .github/tests/seo_optimization_test.py
  index.html
  sitemap.xml
Labels: website, configuration

fixes
  .github/tests/youtube_performance_test.py
  index.html
Labels: website, configuration

fixes
  .github/tests/mobile_performance_summary.py
  .github/tests/run_all_tests.py
Labels: configuration

fixes
  sitemap.html
  sitemap.xml.gz
Labels: website

fixes
  ror.xml
  sitemap.html
Labels: website

fixes
  .github/tests/sitemap_file_indexing_summary.py
  .github/tests/sitemap_sync_test.py
  ror.xml
  sitemap.html
  sitemap.xml
Labels: website, configuration

fixes
  .github/tests/local_seo_test.py
  .github/tests/mobile_performance_summary.py
  .github/tests/run_all_tests.py
  .github/tests/seo_optimization_test.py
  .github/tests/sitemap_file_indexing_summary.py
  .github/tests/sitemap_sync_test.py
Labels: configuration

fixes
  .github/tests/seo_analysis.py
Labels: configuration

fixes
  .github/tests/robots_security_analysis.py
Labels: configuration

fixes
  .github/tests/critical_request_chain_test.py
  index.html
Labels: website, configuration

fixes
  index.html
Labels: website

fixes
  .github/tests/OPTIMIZATION_SUMMARY.md
  .github/tests/critical_request_chain_test.py
Labels: configuration
