Repository prajitdas/prajitdas.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: website, documentation, testing, configuration, dependencies

scans added
  .github/workflows/validate-website.yml
  .htaccess
  README.md
  _config.yml
  requirements.txt
  robots.txt
  tests/web_security_test.py
Labels: documentation, testing, configuration, dependencies

scans added
  .github/workflows/validate-website.yml
  README.md
  tests/web_security_test.py
Labels: documentation, testing, configuration

scans added
  .config/pyproject.toml
  .config/requirements.txt
  .github/workflows/validate-website.yml
  .htaccess
  README.md
  _config.yml
  robots.txt
  tests/web_security_test.py
Labels: documentation, testing, configuration

scans added
  .config/genWordCloud.py
  .config/setup.py
  README.md
  assets/docs/publications/README.md
  robots.txt
  tests/web_security_test.py
Labels: website, documentation, testing

scans added
  README.md
Labels: documentation

scans added
  .github/config/genWordCloud.py
  .github/config/pyproject.toml
  .github/config/requirements.txt
  .github/config/setup.py
  .github/workflows/validate-website.yml
  .htaccess
  README.md
  _config.yml
  assets/docs/publications/README.md
  robots.txt
  tests/web_security_test.py
Labels: website, documentation, testing, configuration

fixes
  .github/config/requirements.txt
Labels: configuration

fixes
  README.md
  assets/docs/publications/README.md
  assets/docs/publications/genWordCloud.py
  assets/docs/publications/wordcloud.png
  tests/__pycache__/test_website_validation.cpython-311-pytest-7.4.0.pyc
  tests/web_security_test.py
Labels: website, documentation, testing

fixes
  .github/config/genPubHTML.sh
  .github/config/genWordCloud.py
  .github/config/pyproject.toml
  .github/config/setup.py
  .htaccess
  README.md
  _config.yml
  assets/docs/publications/README.md
  assets/docs/publications/generate.sh
  assets/docs/publications/wordcloud.png
  robots.txt
  tests/web_security_test.py
Labels: website, documentation, testing, configuration

fixes
  .github/tests/pytest.ini
  .github/tests/run_tests.py
  .github/tests/security_scan.py
  .github/tests/test_website_validation.py
  .github/tests/web_security_test.py
  .github/workflows/validate-website.yml
  .htaccess
  README.md
  _config.yml
  robots.txt
Labels: documentation, configuration

fixes
  README.md.corrupted
Labels: documentation

fixes
  README.md
Labels: documentation

Commit done on 2025-09-27-16-38-05
  assets/docs/publications/wordcloud.png
Labels: website

gitignore
  .gitignore
Labels: none

fixes
  .vscode/settings.json
  README.md.corrupted-20250927_164309
Labels: documentation

fixes
  README.md
Labels: documentation

fixes
  README.md
Labels: documentation

fixes
  README.md
Labels: documentation

fixes
  README.md
Labels: documentation

fixes
  README.md
Labels: documentation

fixes
  README.md
Labels: documentation

Trigger workflow validation tests
  .github/workflow_trigger.md
Labels: configuration

fixes
  .github/workflow_trigger.md
  assets/docs/publications/README.md
  index.html
Labels: website, configuration

fixes
  README.md
Labels: documentation

fixes
  .github/workflows/validate-website.yml
Labels: configuration

Update deprecated GitHub Actions to latest versions
  .github/workflows/static.yml
Labels: configuration

Fix dependabot.yml configuration
  .github/dependabot.yml
Labels: configuration

fixes
  README.md.corrupted
  README.md.corrupted-20250927_164309
  index.html
  urllist.txt
Labels: website, documentation

Enhance web security by protecting configuration files
  .github/tests/web_security_test.py
  .htaccess
  _config.yml
  robots.txt
Labels: configuration

Fix Codacy security scan workflow issues
  .github/workflows/codacy.yml
Labels: configuration

Improve Codacy analysis configuration
  .codacy.yml
  .github/workflows/codacy.yml
  .gitignore
Labels: configuration

Fix Trivy analyzer failure in Codacy
  .codacy.yml
  .github/workflows/codacy.yml
  .gitignore
  .trivyignore
Labels: configuration

fixes
  README.md
Labels: documentation

fixes
  README.md
Labels: documentation

fixes
  README.md
Labels: documentation

fixes
  .htaccess
Labels: none

Protect new Codacy configuration files from web access
  .github/tests/web_security_test.py
  _config.yml
  robots.txt
Labels: configuration

Update README to reflect protection of new Codacy config files
  README.md
Labels: documentation

fixes
  .github/workflows/codacy.yml
Labels: configuration

Fix SARIF JSON syntax error with robust validation and fallback
  .github/workflows/codacy.yml
Labels: configuration

.github/labeler.yml:

# Labeler configuration for GitHub Actions
# Automatically label PRs based on files changed

"website":
  - "*.html"
  - "*.css" 
  - "*.js"
  - "assets/**/*"

"documentation":
  - "*.md"
  - "README*"

"testing":
  - "tests/**/*"
  - "*.py"

"configuration":
  - "*.yml"
  - "*.yaml"
  - "*.json"
  - ".github/**/*"

"dependencies":
  - "*requirements*.txt"
  - "pyproject.toml"
